language: python
python:
  - "3.6"
  - "3.7"
  - "3.8-dev"
dist: xenial
sudo: true
script:
  - pytest
  - pylint --version
  - pylint graphanno
  - pylint tests
  - flake8 graphanno --max-line-length=110
  - flake8 tests --max-line-length=110
install:
  - pip install .[test]
